<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
  <description>Set MonoLisa as the preferred monospace font</description>
  {%- for prefer in font_preferences %}
  <alias>
    <family>{{ prefer.for }}</family>
    <prefer>
      <family>{{ prefer.use }}</family>
    </prefer>
  </alias>
  {%- endfor %}
</fontconfig>
